<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
     
      <h1>כניסה</h1>
     
    </div>

    <!-- Login Form -->
    <form class="input-group-center mb-3" (ngSubmit)="submitloginForm()" >
      <input type="text"  [(ngModel)]="u.UserName"  id="UserName" class=" second" name="UserName" placeholder="שם משתמש">
      <input type="text" [(ngModel)]="u.Password"  id="Password" class=" third" name="Password" placeholder="סיסמה">
      <p *ngIf="hasErorr">.... אחד מהנתונים שהזנת שגוי! אנא נסה שנית</p>
      <input type="submit" class="w-40 fourth btn btn-warning btn-lg" value="כניסה">
    </form>

   
   

  </div>
</div>
